.orderForm {
  width: 50%;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
}

.orderForm div {
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.orderForm label {
  font-weight: 400;
}

.orderForm input,
.orderForm select {
  height: 1.7rem;
  border-radius: 3px;
  border: 1px solid rgb(255, 200, 21);
}

.radio{
  display: flex;
  align-items: center;
}

.radio input{
  background-color: black;
  border-radius: 0px;
  border: 5px solid rgb(255, 200, 21);
}

.orderForm textarea{
  border-radius: 3px;
  border: 1px solid rgb(255, 200, 21);
}

.orderForm input,
.orderForm textarea,
.orderForm select {
  padding: 0.25rem;
  width: 50%;
  min-width: 10rem;
  max-width: 30rem;
}
.orderForm button {
  font-weight: 500;
  height: 1.7rem;
  width: 7rem;
  /*padding: 0.6rem 1rem;*/
  margin: 1rem auto 0 auto;
  color: rgb(49, 49, 49);
}
.orderForm button:hover{
  color: rgb(0, 0, 0);
}

.orderForm div div {
  margin-right: 0.5rem;
  margin-bottom: initial;
  display: flex;
  justify-content: space-between;
  /* align-items: baseline; */
  width: 45%;
}
.orderForm div div input {
  min-width: initial;
  width: 2rem;
}


/********************
****YES_NO_BUTTON****
********************/



input[type="radio"] {
  display: none;
} 
/** %[Object] Switch */ 
/*------------------------------------*/ 
.switch {
  color: #6f839a;
  border: 1px solid rgb(255, 200, 21);
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5em;
  border-radius: 3px;
  padding: .125em .5em;
  display: inline-block;
  background-color: #ffffff;
  -webkit-transition: .15s ease;
  -moz-transition: .15s ease;
  -ms-transition: .15s ease;
  -o-transition: .15s ease;
  transition: .15s ease;
}



input[type="radio"]:checked + .switch {
  color: #fff;
  padding-left: 1em;
  padding-right: 1em;
}

input[type="radio"]:checked + .switch--on {
  color: #3e4956;
  background-color: rgb(255, 200, 21);
}

input[type="radio"]:checked + .switch--off {
  background-color: #333333;
  color: white;
  border: none;
} 
