.portfolioItem {
  text-align: center;
  width: 100%;
  max-width: 1400px;
  max-height: fit-content;
  display: grid;
  margin: auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: "header header ";
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.452);
}
.portfolioItem img {
  max-width: 90%;
}

.portfolioItem h2 {
  padding: 1rem;
  grid-area: header;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.452);
}
.portfolioItem p {
  height: fit-content;
  margin: auto;
  font-size: 1.2rem;
}

#id1.portfolioItem img {
  border-right: 0.5px solid rgba(255, 255, 255, 0.452);
  margin-left: auto;
  padding: 0.5rem 2rem 0.5rem 2rem;
  grid-row-start: 2;
  grid-column-start: 1;
}
#id0.portfolioItem img {
  border-left: 0.5px solid rgba(255, 255, 255, 0.452);
  margin-right: auto;
  padding: 0.5rem 2rem 0.5rem 2rem;
  grid-row-start: 2;
  grid-column-start: 2;
}
#id1.portfolioItem p {
  text-align: start;

  padding: 0.5rem 2rem 0.5rem 2rem;
  grid-column-start: 2;
  grid-row-start: 2;
}
#id0.portfolioItem p {
  text-align: end;
  padding: 0.5rem 2rem 0.5rem 2rem;
  grid-column-start: 1;
  grid-row-start: 2;
}

@media only screen and (max-width: 767px) {
  .portfolioItem h2 {
    padding: 0.5rem;
  }
  .portfolioItem {
    display: block;
  }
  #id0.portfolioItem img {
    border: 0;
  }
  #id1.portfolioItem img {
    border: 0;
  }
  #id0.portfolioItem p {
    text-align: center;
  }
  #id1.portfolioItem p {
    text-align: center;
  }
}

.adminPortfolio div {
  display: flex;
  justify-content: space-evenly;
}
.adminPortfolio button {
  margin: 0.5rem 0 1rem 0;
}

.adminPortfolio {
  border-bottom: 2px solid white;
}
