.content {
  color: rgb(255, 255, 255);
  overflow: hidden;
  background-color: rgb(41, 41, 41);
  margin: 0 auto;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h1 {
  font-size: 2rem;
}

.chapter {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(255, 200, 21);
}

.chapterHeader {
  text-transform: uppercase;
  width: 100%;
  padding: 0.5rem 0 0.5rem 1rem;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: rgb(255, 200, 21);
  background-color: rgb(34, 34, 34);
  border-bottom: 1px solid rgb(255, 200, 21);
}

.chapterHeader h1{
  font-weight: 450;
  font-size: 1,8rem;

}


/* For mobile phones: */

@media only screen and (max-width: 767px) {
  .content {
    width: 90%;
  }
  .content h1 {
    font-size: 1.7rem;
  }
  .chapterHeader {
    margin: auto;
  }
}
