/* home */
.home {
  padding: 0 1rem;
}
.home ol {
  padding: 0rem 0rem 0rem 2.5rem;
}
.home p {
  padding: 0.5rem;
}
.home h3 {
  color: rgb(255, 200, 21);
}
.home li {
  border-bottom: 0.5px solid white;
  padding: 0.2rem;
  margin: 0.5rem;
}

.home a {
  color: rgb(255, 200, 21);
  font-weight: bold;
  float: right;
}
.home a:hover {
  background-color: rgb(75, 75, 75);
}
