* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.header {
  width: 100%;
  padding: 0px;
  margin: 0;
  text-align: center;
}
  
.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(41, 41, 41);
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: rgb(255, 255, 255) solid 2px;
}
  
.navlinks a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0;
  /*border: rgb(255, 200, 21) solid 1px;*/
}
 
.navlinks a:hover {
  background-color: rgb(255, 200, 21);
  color: black;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  color: rgb(255, 255, 255);
  overflow: hidden;
  background-color: rgb(41, 41, 41);
  margin: 0 auto;
  
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.chapterHeader {
  width: 100%;
  color: rgb(255, 200, 21);
  font-size: 15px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  background-color: rgb(34, 34, 34);
  border-top: 1px solid rgb(88, 88, 88);
  border-bottom: 1px solid rgb(88, 88, 88);
}


/*
<div class="header">
    <img src="hromosvody.png" alt="hromosvody" class="backHead">
</div>

*/