.header {
  width: 100%;
  padding: 0px;
  margin: 0;
  text-align: center;
  background-color: rgb(41, 41, 41);
}

.navlinks {
  margin-bottom: 0.5rem;
  padding: 0.8rem 0rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.navlinks ul {
  max-width: 100%;
}

.navlinks a {
  padding: 0 1.2rem;
  text-align: center;
  font-size: 1.5rem;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}

.header-pic {
  width: 100%;
  max-height: 25rem;
}

@media only screen and (max-width: 767px) {
  .navlinks a {
    font-size: 1rem;
  }
}
